:root {
  --color-main: #f89220;
  /* --color-submain: #ffc13b;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-icon: #646464;
  --color-title: #333333;
  --color-subtitle: #999999;
  --color-tips: #ababab;
  --color-grey: #4d4d4d;
  --color-border: #eeeeee;
  --color-footer-bg: #b42a2a;
  --color-little-grey: #fafafa;
  --color-submain1: #fcf2e2;
  --color-success: #32aa15;
  --color-fail: #e10015; */
}