node_modules/
asar_extract/
app_patched.asar
extract.mjs
repack.mjs
replace_asar.bat
*.pyc
__pycache__/
.env
package-lock.json
backups/

# 构建产物
frontend/dist/
frontend/release/
frontend/.gitignore
frontend/dist_electron/
frontend/out/
